<div class="interview">
  <h2>Interview</h2>

  <div *ngIf="interview$ | async as interview">
    <p>
      Candidate:
      {{ interview.candidate.firstName }}
      {{ interview.candidate.lastName }}
      ({{ interview.candidate.email }})
    </p>
    <p>
      Project:
      {{ interview.project.name }}
    </p>
    <p>
      Notes:
      {{ interview.notes }}
    </p>

    <div class="interview__blocks-section">
      <div
        *ngFor="let block of interview.interviewProcess.blocks; let i = index"
        class="interview__block"
      >
        <app-block
          [block]="block"
          [(activeState)]="activeState[i]"
          (onBlockChange)="onBlockChange($event, interview.id)"
        ></app-block>
      </div>
    </div>
    <p>
      Total score:
      {{ interview.interviewProcess.score }}
    </p>
  </div>
</div>
