<div class="interview">
  <h2>Interview</h2>

  <div *ngIf="interview$ | async as interview">
    <p>
      Candidate:
      {{ interview.candidate.firstName }}
      {{ interview.candidate.lastName }}
      ({{ interview.candidate.email }})
    </p>
    <p>
      Project:
      {{ interview.project.name }}
    </p>
    <p class="form-group">
      <label for="notes">Notes:</label>
      <textarea
        pInputTextarea
        id="notes"
        name="notes"
        [formControl]="notesControl"
        [value]="interview.notes"
        [autoResize]="true"
      ></textarea>
    </p>

    <div class="interview__blocks-section">
      <div
        *ngFor="let block of interview.interviewProcess.blocks; let i = index"
        class="interview__block"
      >
        <app-block
          [block]="block"
          [(activeState)]="activeState[i]"
          (onBlockChange)="onBlockChange($event, interview.id)"
        ></app-block>
      </div>
    </div>
    <p class="interview__progress">
      <b
        >Total score:
        {{
          interview.interviewProcess.score
            ? interview.interviewProcess.score + "/"
            : ""
        }}{{ maxScore }}</b
      >
      <p-progressBar
        class="interview__progress-bar"
        [value]="progressScore"
      ></p-progressBar>
      <span>({{ progressScore }}%)</span>
    </p>
  </div>
</div>
