<div class="interviews">
  <h2>Interviews</h2>

  <div class="cards">
    <p-card
      [routerLink]="interview.id.toString()"
      *ngFor="let interview of interviews$ | async"
      class="card"
    >
      <p>
        Candidate:
        {{ interview.candidate.firstName }}
        {{ interview.candidate.lastName }}
        ({{ interview.candidate.email }})
      </p>
      <p>
        Project:
        {{ interview.project.name }}
      </p>

      <div>
        Blocks:
        <ul>
          <li *ngFor="let block of interview.interviewProcess.blocks">
            {{ block.title }} (questions: #{{ block.questions.length }})
          </li>
        </ul>
      </div>
    </p-card>
  </div>
</div>
