<div class="login">
  <form
    class="login__form p-inputtext-sm"
    [formGroup]="loginForm"
    (ngSubmit)="login()"
  >
    <div class="login__form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input pInputText id="float-input" type="email" formControlName="email" />
    </div>
    <div class="login__form-group">
      <label for="exampleInputEmail1">Password</label>
      <input
        pInputText
        id="float-input"
        type="password"
        formControlName="password"
      />
    </div>
    <button
      pButton
      class="login__form-submit"
      type="submit"
      label="Login"
    ></button>
  </form>
</div>
