.login {
  display: flex;
  justify-content: center;
  padding: 50px;

  &__form {
    width: 300px;
    max-width: 100%;

    label {
      display: block;
      margin-bottom: 5px;
    }

    input {
      width: 100%;
    }
  }

  &__form-group {
    margin-bottom: 15px;
  }

  &__form-submit {
    width: 100%;
  }
}
