.interview-form {
  padding: 15px 0;
  width: 300px;
  max-width: 100%;
}

.details {
  margin-top: 15px;
  border-style: solid;
  border-color: #ccc;
  border-width: 0 1px 1px;
  border-radius: 5px;
  padding: 10px;
}

.form-group {
  margin-bottom: 30px;
}

::ng-deep .full-width {
  width: 100%;
}

.fieldset {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 10px;
}