<h2>Interview</h2>

<div *ngIf="interview$ | async as interview">
  <p>
    Candidate:
    {{ interview.attributes.candidate.data.attributes.firstName }}
    {{ interview.attributes.candidate.data.attributes.lastName }}
    ({{ interview.attributes.candidate.data.attributes.email }})
  </p>
  <p>
    Project:
    {{ interview.attributes.project.data.attributes.name }}
  </p>

  <div>
    Blocks:
    <ul>
      <li
        *ngFor="
          let block of interview.attributes.interviewProcess.data.attributes
            .blocks
        "
      >
        {{ block.title }} (questions: #{{ block.questions.length }})
      </li>
    </ul>
  </div>
</div>
