<p-card class="block">
  <h3 class="block__title">{{ block.title }}</h3>
  <p-accordion
    *ngFor="let question of block.questions; let i = index"
    [multiple]="true"
  >
    <p-accordionTab [(selected)]="activeState[i]">
      <ng-template pTemplate="header"
        ><p-badge
          *ngIf="question.score != null"
          [value]="question.score.toString()"
        ></p-badge
        ><span class="block__question-title"
          >#{{ i + 1 }} - {{ question.title }}</span
        ></ng-template
      >
      <ng-template pTemplate="content">
        <div class="block__question-answer">
          <div class="block__question">
            <h4 class="block__qa-title">Question:</h4>
            <div>{{ question.question }}</div>
          </div>
          <div class="block__answer">
            <h4 class="block__qa-title">Answer:</h4>
            <markdown [data]="question.answer"></markdown>
          </div>
        </div>
        <app-question-form
          [question]="question"
          (onQuestionChange)="onQuestionChange($event)"
        ></app-question-form>
      </ng-template>
    </p-accordionTab>
  </p-accordion>
  <p class="block__progress">
    <b>Score: {{ block.score ? block.score + "/" : "" }}{{ maxScore }}</b>
    <p-progressBar
      class="block__progress-bar"
      [value]="progressScore"
    ></p-progressBar>
    <span>({{ progressScore }}%)</span>
  </p>
</p-card>
