<p-card class="block">
  <h3 class="block__title">{{ block.title }}</h3>
  <p-accordion
    *ngFor="let question of block.questions; let i = index"
    [multiple]="true"
  >
    <p-accordionTab [(selected)]="activeState[i]">
      <ng-template pTemplate="header"
        ><p-badge
          *ngIf="question.score != null"
          [value]="question.score.toString()"
        ></p-badge
        ><span class="block__question-title">{{
          question.title
        }}</span></ng-template
      >
      <ng-template pTemplate="content">
        <div class="block__question-answer">
          <div>
            Question:
            <div>{{ question.question }}</div>
          </div>
          <div>
            Answer:
            <markdown>
              {{ question.answer }}
            </markdown>
          </div>
        </div>
        <app-question-form
          [question]="question"
          (onQuestionChange)="onQuestionChange($event)"
        ></app-question-form>
      </ng-template>
    </p-accordionTab>
  </p-accordion>
  <p class="block__score">Score: {{ block.score }}</p>
</p-card>
