<h2>Interview templates</h2>

<div class="cards">
  <p-card
    *ngFor="let interviewTemplate of interviewTemplates$ | async"
    class="card"
  >
    <div class="card__head">
      <h3 class="card__title">{{ interviewTemplate.name }}</h3>
      <p-button
        icon="pi pi-plus"
        styleClass="p-button-sm"
        (click)="createInterviewFromTemplate(interviewTemplate.id)"
      ></p-button>
    </div>
    <p>{{ interviewTemplate.description }}</p>
    <ul>
      <li *ngFor="let block of interviewTemplate.blocks">
        {{ block.title }} (questions: #{{ block.questions.length }})
      </li>
    </ul>
    <div class="card__tags">
      <p-chip
        *ngFor="let tag of interviewTemplate.tags"
        [label]="tag.title || ''"
        class="card__tag"
      ></p-chip>
    </div>
  </p-card>
</div>
