.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  &__head {
    display: flex;;
  }

  &__title {
    margin: 0 15px 0;
    flex: 1 1 auto;
  }

  &__tags {
    display: flex;
  }

  &__tag {
    margin: 3px 0 0 3px;
  }
}